

<h1>Hello World from EJS.</h1>


    
<p>Name: <%= myView[0].name %> </p>
<p>Tv Show: <%= myView[0].tvShows %> </p>
<p>Things: <%= myView[0].things %> </p>    




    <footer> sent from a file on my node server, yo!

    <a href="/send">send</a>
    


</footer>
